*
{
	font-family:palatino;
}

body
{
    margin:-3px;
    background-color:#dddddd;
}

header
{
    border:solid black 2px;
	background-color:#666666;
}

ul
{
    background-color:#444444;
    color:#FEFEFE;
	padding:0px;
    list-style:none;
    display:flex;
    margin:0px;
}

li
{
	padding-top:10px;
	padding-bottom:10px;
    border-bottom:solid black 2px;
    border-right:solid black 1px;
    border-left:solid black 1px;
    width:33.34%;
    text-align:center;
}

#home:hover, #chapter:hover, #programs:hover
{
	background-color:#222222;
	cursor:pointer;
}

#electric 
{
	background-color:#222222;
}

#background
{
    width:50%;
}

#textBox
{
	background-color:#dddddd;
    border:solid black 2px;
    /*opacity:.5; if background image uncomment */
    border-radius:15px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}

@media screen and (min-width:1200px)
{
    #main
    {
        display: grid;
        background-color:#dddddd;
        font-family:helvetica;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 10fr;
        grid-template-areas:"lef lef lef rig rig rig"
                            "lef lef lef rig rig rig"
                            "lef lef lef rig rig rig"
                            "lef lef lef rig rig rig"
                            "sep sep sep sep sep sep"
                            "one one two two thr thr"
                            "one one two two thr thr"
                            "le2 le2 le2 ri2 ri2 ri2"
                            "le2 le2 le2 ri2 ri2 ri2"
                            "le2 le2 le2 ri2 ri2 ri2";
    }
}



#title
{
    /*border:solid black 1px;*/
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#topPic
{
    border:solid black 1px;
    width:80%;
    max-height:500px;/*change to auto after pic is added*/
    margin-left:10%;
	border-radius:10px;
}

#right
{
	
	padding-top:50px;
}

.topRightWords
{
    width:80%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    /*border:solid black 1px;*/
}

#sep
{
    text-align:center;
    display:flex;
}

.lines
{
    border-bottom:solid black 2px;
    margin-bottom:27px;
    width:45%;
}

#sepWord
{
    width:10%;
}

.middleButtons
{
    text-align:center;
}

.icons
{
    border:solid black 1px;
    width:25%;
    margin-left:auto;
    margin-right:auto;
	border-radius:10px;
}

#left2
{
    width:80%;
    height:auto;
    margin-left:10%;
    margin-bottom:20px;
}

#bottomPic
{
    width:100%;
	border:solid black 1px;
	border-radius:10px;
}

#right2
{
    width:80%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    font-family:helvetica;
}

#subTitle
{
    padding-bottom:10px;
    border-bottom:solid black 2px;
}

footer 
{
	float:bottom;
	background-color:#666666;
	color:#FEFEFE;
	font-family:arial;
    border:solid black 2px;
    text-align:center;
}

#socialMedia
{
    display:flex;
    margin-top:20px;
}

.socialButtons
{
    margin:auto;
    border:solid #555555 2px;
    border-radius:10px;
}

a
{
	text-decoration:none;
	color:white;
}

#top { grid-area:top; }
#seperator { grid-area:spr; }
#sep { grid-area: sep; }
#mid { grid-area:mid; }
#bottom { grid-area:bot; }
#left { grid-area: lef; }
#right { grid-area: rig; }
#buttonOne { grid-area:one; }
#buttonTwo { grid-area:two; }
#buttonThree { grid-area:thr; }
#left2 { grid-area:le2; }
#right2 { grid-area:ri2; }